:root {
  --primary-color: #586BA4;
  --secondary-color: #324376;
  --tertiary-color: #F5DD90;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-color);
  letter-spacing: .1em;
}

header, footer {
  background-color: var(--secondary-color);
  width: 100%;
  min-height: 6vh;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h2 {
  flex: 1
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  color: white;
}

nav ul li {
  margin-right: 1rem;
  margin-left: 1rem;
  list-style: none;
  cursor: pointer;
  color: white;
}

form {
  width: 40%;
}

section, header, footer, .w-h2 {
  padding: 0px 5px 0px 5px;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

textarea {
	width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
}

button {
  background-color: var(--secondary-color);
  border: 0;
  border-radius: 5px;
  color: var(--tertiary-color);
  font-size: 16px;
  font-weight: 600;
  padding: 10px 15px;
}

.label {
  width: 300px;
  padding: 0 0 5px 0;
}

.cardTitle {
  color: black;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.navActive {
  color:var(--tertiary-color);
  font-weight: bold;
}

footer {
  position: relative;
  bottom: 0;
  color: white;
}